
.main{
    align-self: center;
    width:100%;
    max-width:700px;
    height:auto;
    color: grey !important;
    text-align: center;
    padding: 0 1rem;
    margin: 2rem auto;
}
.home{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.img{
    flex: 1;
    color: red;
    max-width: 320px;
    height:auto;
    padding: 1rem 0 0 0;
    background-image: url(../../../public/profile3-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 0 auto;
}
.box{
    margin-top: 4rem;
    display: flex;
    flex-wrap:wrap;
    gap:1rem;
    justify-content:center;
}
.name{
    text-align: center;
    color: red;
}
.mobile-img{
    border: none;
    max-width:180px;
    height:auto;
}
.exp-page{
    margin-top: 10%;
}


@media (max-width:900px){
    .home{
        background-color: black;
        min-height: 100vh;
        width:100%;
    }
    .box{
        width:100%;
        margin:0 auto;
        display:flex;
        flex-direction:column;
        gap:1rem;
    }

    .img{
        display: block;
        max-width:220px;
        margin: 1rem auto;
        background-size: contain;
    }
    .main{
        padding: 0.5rem;
        margin: 3rem 1rem;
    }
    .name{
        width:100%;
        margin:0 auto;
        text-align:center;
    }
    .proj-head{margin-left:1rem}

    .mobile-img{
        margin-top: 1rem;
        height: 150px;
        width: 150px;
        background-image: url(../../../public/profile3-removebg-preview.png);
        background-repeat: no-repeat;
        background-position:center;
        background-size:contain;
    }

    .exp-page{margin-top: 10rem}
}