.main-page{
    background-color: black;
    min-height: 100vh;
}

.error{
    /* border: 1px solid red; */
    color: peachpuff;
    max-width: 320px;
    width: 90%;
    text-align: center;
    margin: 1rem auto;
}

@media (max-width:480px){
  .error{font-size:0.9rem;padding:0.5rem}
}