
.list-item{
    border: 2px solid grey;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    list-style-type:none;

}

.title,.duration,.skills{
    padding-left: 20px;
}
.list-item:hover{
    border: 2px solid peachpuff;
}

