.work-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
    padding-right: 20px;
}
.list-item{
    border: 2px solid grey;
    color: white;
    width: 50%;
    /* margin-left: 25%; */
    /* margin-right: 25%; */
    margin-top: 30px;
    list-style-type:none;

}

.title,.duration,.skills{
    padding-left: 20px;
}
.list-item:hover{
    border: 2px solid peachpuff;
}

@media (max-width:900px){
    .exp-page{
        overflow: hidden;
        padding-right: 10px;
    }
    .list-item{
        /* border: 1px solid blue; */
        width: 90%;
        /* margin-left: 35px; */
        padding-right: 10px;
        margin-right: 5px;
    }
}

