.proj-page{
    /* border: 2px solid red; */
    padding-right: 30px;
}
.project-list-item{
    border: 1px solid grey;
    width:100%;
    max-width:900px;
    margin: 30px auto 0 auto;
    padding:1rem;
    box-sizing:border-box;
}
.project-list-item:hover{
    border: 1px solid peachpuff;
}
.title,.skills{
    color: white;
}
.desc-list{
    color: white;
    margin-left: 13px;
}
.skills{
    margin-left: 20px;
}
.project-links {
    display: flex;
    gap: 1rem;
    margin-left: 20px;
  }

  .link-item {
    border-radius: 4px;
    min-width: 100px;
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
    border: 1px solid grey;
    color: white;
    background-color: #131415;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .link-item:hover{
    border: 1px solid peachpuff;
  }
  
@media (max-width:900px){
    .project-list-item{width:100%;padding:0.75rem}
    .proj-page{overflow:hidden;padding:0 1rem}
    .project-links{flex-direction:column;gap:0.5rem;padding:0}
    .project-list{display:flex;flex-direction:column;align-items:center}
}

@media (max-width:480px){
    .project-list-item{padding:0.5rem;margin-top:20px}
}